<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/apps">หน้าหลัก</a>
  <span class="breadcrumb-item active">รายการสัญญา</span>
</nav>

<button class="btn btn-sm btn-success" routerLink="/apps/new">
  + สร้างสัญญาใหม่
</button>
<clr-tabs>
  <clr-tab>
    <button clrTabLink>รออนุมัติ</button>
    <clr-tab-content *clrIfActive="true">
      <div class="row" style="padding: 5px 0 5px 5px;">
        <div class="col-md-6">
          <input type="text" style="width: 300px;" placeholder="คำค้นหา...">
          <button class="btn btn-sm btn-primary btn-icon btn-link">
            <clr-icon shape="search"></clr-icon>
          </button>
        </div>
      </div>
      <clr-datagrid>
        <clr-dg-column>เลขที่เตรียมสัญญา</clr-dg-column>
        <clr-dg-column>ชื่อเวชภัณฑ์</clr-dg-column>
        <clr-dg-column>วันที่เริ่ม/สิ้นสุด</clr-dg-column>
        <clr-dg-column>จำนวน</clr-dg-column>
        <clr-dg-column>ราคารวม</clr-dg-column>
        <clr-dg-column>บริษัท</clr-dg-column>
        <clr-dg-column>ชนิด</clr-dg-column>
        <clr-dg-column>ไฟล์แนบ</clr-dg-column>
        <clr-dg-placeholder>ไม่พบรายการ!</clr-dg-placeholder>

        <clr-dg-row *ngFor="let user of waitingApproves">
          <clr-dg-cell>{{user.id}}</clr-dg-cell>
          <clr-dg-cell>{{user.name}}</clr-dg-cell>
          <clr-dg-cell>{{user.creation | date}}</clr-dg-cell>
          <clr-dg-cell>{{user.color}}</clr-dg-cell>
          <clr-dg-cell>{{user.color}}</clr-dg-cell>
          <clr-dg-cell>{{user.color}}</clr-dg-cell>
          <clr-dg-cell>{{user.color}}</clr-dg-cell>
          <clr-dg-cell>{{user.color}}</clr-dg-cell>
        </clr-dg-row>
      
        <clr-dg-footer>{{waitingApproves.length}} รายการ</clr-dg-footer>
      </clr-datagrid>

    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>รอทำสัญญา</button>
    <clr-tab-content *clrIfActive>
      ...
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>ผ่านการอนุมัติ</button>
    <clr-tab-content *clrIfActive>
      ...
    </clr-tab-content>
  </clr-tab>
</clr-tabs>