<div [clrLoading]="loading">
  <clr-datagrid>
    <clr-dg-column>ชื่อเวชภัณฑ์ (Trade name)</clr-dg-column>
    <clr-dg-column>หน่วย</clr-dg-column>
    <clr-dg-column>จำนวน</clr-dg-column>
    <clr-dg-column>ราคาต่อหน่วย (บาท)</clr-dg-column>
    <clr-dg-column>รวมเป็นเงิน (บาท)</clr-dg-column>

    <clr-dg-row *ngFor="let item of items">
      <clr-dg-cell>{{item.product_name}}</clr-dg-cell>
      <clr-dg-cell>{{item.from_unit_name}} ({{item.conversion_qty | number}} {{item.to_unit_name}})</clr-dg-cell>
      <clr-dg-cell style="text-align: right;">{{item.qty | number}}</clr-dg-cell>
      <clr-dg-cell style="text-align: right;">{{item.cost | number:'1.2-2'}}</clr-dg-cell>
      <clr-dg-cell style="text-align: right;"><strong>{{item.cost * item.qty | number:'1.2-2'}}</strong></clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{items.length}} รายการ</clr-dg-footer>
  </clr-datagrid>

</div>