<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/apps">หน้าหลัก</a>
  <span class="breadcrumb-item active">สร้างสัญญา</span>
</nav>

<div class="row">
  <div class="col-md-8">
    <div class="card" style="margin-top: 10px; height: 190px;">
      <div class="card-block" style="padding: 0px 10px 0px 10px;">
        <form class="compact" style="padding-top: 0px;">
          <section class="form-block">
            <div class="form-group row">
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label for="remark" class="required">งบประมาณ</label>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <cm-select-bgtype [selectedId]="bgTypeId" (onChange)="onChangeBgType($event)"></cm-select-bgtype>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label for="remark" class="required">วิธีการจัดหา</label>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <cm-select-bidtype [selectedId]="bidTypeId" (onChange)="onChangeBidType($event)"></cm-select-bidtype>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="required" for="slType">ประเภทสัญญา</label>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <cm-select-type (onChange)="onChangeTypes($event)"></cm-select-type>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label for="dateReceive">เลขที่สัญญา</label>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <input class="form-control" type="text" [(ngModel)]="contractNo" name="contactNo">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label for="buyerName" class="required">ข้อมูลผู้ซื้อ</label>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <input class="form-control" type="text" name="buyerName" [(ngModel)]="buyerName">
              </div>
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label for="buyerPosition" class="required">ตำแหน่ง</label>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <input class="form-control" type="text" name="buyerPosition" [(ngModel)]="buyerPosition">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label for="dateReceive" class="required">ข้อมูลผู้จำหน่าย</label>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <input class="form-control" disabled type="text" name="vendorId" [(ngModel)]="vendorId">
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <cm-search-vendors #searchVendors labelerType="V" (onChange)="onChangeVendor($event)" (onSelect)="onSelectVendor($event)"></cm-search-vendors>
              </div>
            </div>
          </section>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="margin-top: 10px; height: 190px;">
      <div class="card-block" style="padding: 0px 0px 0px 10px;">
        <form class="compact" style="padding-top: 0px;">
          <section class="form-block">
            <div class="form-group row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label for="dateReceive">เลขที่เตรียมสัญญา</label>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <input class="form-control" [(ngModel)]="prepareNo" disabled type="text" name="prepareNo">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label for="startDate" class="required">วันที่เริ่ม</label>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <my-date-picker-th name="startDate" [(ngModel)]="startDate" [options]="myDatePickerOptions" required></my-date-picker-th>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label for="endDate" class="required">วันที่สิ้นสุด</label>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <my-date-picker-th name="endDate" [(ngModel)]="endDate" [options]="myDatePickerOptions" required></my-date-picker-th>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label for="updatedDate">วันที่แก้ไข</label>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <span style="font-weight: bold; color: #F52F22;">{{ updatedDate | toThaiDateTime}}</span>
                <!-- <my-date-picker-th name="updatedDate" [(ngModel)]="updatedDate" [options]="myDatePickerOptionsWithTime" required></my-date-picker-th> -->
              </div>
            </div>
          </section>
        </form>
      </div>
    </div>
  </div>
</div>
<span class="p4">รายชื่อยาและเวชภัณฑ์ในสัญญา</span>
<clr-datagrid class="grid-order" style="padding-top: 5px;">
  <!-- <clr-dg-column style="width: 50px;">#</clr-dg-column> -->
  <clr-dg-column>ชื่อสินค้า</clr-dg-column>
  <clr-dg-column style="width: 180px;">หน่วย</clr-dg-column>
  <clr-dg-column style="width: 100px;">ราคาต่อหน่วย</clr-dg-column>
  <clr-dg-column style="width: 100px;">จำนวน</clr-dg-column>
  <clr-dg-column style="width: 120px;">รวม Base Unit</clr-dg-column>
  <clr-dg-column style="width: 150px;">รวม (บาท)</clr-dg-column>
  <clr-dg-column style="width: 130px;"></clr-dg-column>

  <clr-dg-row *ngFor="let product of products; let idx = index;">
    <clr-dg-cell>{{idx + 1}}. {{product.product_name}}</clr-dg-cell>
    <clr-dg-cell>
      <cm-select-unit (onSelect)="onChangeEditUnit($event, product)" [genericId]="product.generic_id" [selectedId]="product.unit_generic_id"></cm-select-unit>
    </clr-dg-cell>
    <clr-dg-cell>
      <input type="text" #qty (keyup)="onChangeEditCost(qty.value, product)" cmNumberOnly [value]="product.cost" class="wm-edit-box-number"
        style="width: 100px;" style="background-color: #FFF9C4" placeholder="">
    </clr-dg-cell>
    <clr-dg-cell>
      <input type="text" #cost (keyup)="onChangeEditQty(cost.value, product)" cmNumberWithoutDot [value]="product.qty" class="wm-edit-box-number"
        style="width: 100px;" style="background-color: #FFF9C4" placeholder="">
    </clr-dg-cell>
    <clr-dg-cell style="text-align: right;">{{product.conversion_qty * product.qty | number}} {{product.primary_unit_name}}</clr-dg-cell>
    <clr-dg-cell style="text-align: right;">
      <span class="p4">{{product.qty * product.cost || 0 | number : '1.2-2'}}</span>
    </clr-dg-cell>
    <clr-dg-cell style="text-align: center;">
      <div class="btn-group btn-primary">
        <button class="btn btn-sm btn-danger wm-small-btn" (click)="removeProduct(product)">
          <clr-icon shape="trash"></clr-icon>
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-row class="newLine">
    <clr-dg-cell>
      <cm-search-product #searchProduct [vendorId]="vendorId" #productSearch (onSelect)="onSelecteProduct($event)"></cm-search-product>
    </clr-dg-cell>
    <clr-dg-cell>
      <cm-select-unit #selectUnit (onSelect)="onChangeUnit($event)" [genericId]="selectedGenericId"></cm-select-unit>
    </clr-dg-cell>
    <clr-dg-cell>
      <input type="text" cmNumberOnly [(ngModel)]="selectedCost" class="wm-edit-box-number" style="width: 100px;" style="background-color: #FFF9C4"
        placeholder="">
    </clr-dg-cell>
    <clr-dg-cell>
      <input type="text" cmNumberWithoutDot [(ngModel)]="selectedQty" class="wm-edit-box-number" style="width: 100px;" style="background-color: #FFF9C4"
        placeholder="">
    </clr-dg-cell>
    <clr-dg-cell style="text-align: right;">{{selectedConversionQty * selectedQty | number}} {{selectedPrimaryUnitName}}</clr-dg-cell>
    <clr-dg-cell style="text-align: right;">
      {{selectedCost * selectedQty || 0 | number: '1.2-2'}}
    </clr-dg-cell>
    <clr-dg-cell style="text-align: center;">
      <div class="btn-group btn-primary">
        <button class="btn btn-success btn-sm wm-small-btn" (click)="addProduct()" [disabled]="!selectedProductId || !selectedGenericId || !selectedUnitGenericId || !selectedQty">
          เพิ่ม
        </button>
        <button class="btn btn-danger btn-sm wm-small-btn" (click)="clearForm()">
          ยกเลิก
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>รวมเป็นเงิน
    <span class="p4">{{totalPrice || 0 | number : '1.2-2'}}</span> บาท | จำนวน
    <span class="p4">{{products.length}}</span> รายการ</clr-dg-footer>
</clr-datagrid>

<div>
  <clr-checkbox [(ngModel)]="isApproved">
    เปลี่ยนสถานะเป็น <strong>อนุมัติ</strong> หลังจากบันทึก
  </clr-checkbox>
  <button class="btn btn-success btn-sm" [disabled]="loading" (click)="saveContract()">
    <clr-icon shape="floppy"></clr-icon>
    บันทึกสัญญา
  </button>
  <button class="btn btn-danger btn-sm" *ngIf="contractId" (click)="cancelContract(contract)">
    <clr-icon shape="trash"></clr-icon>
    ยกเลิกสัญญา
  </button>
  <button class="btn btn-outline-danger btn-sm" [disabled]="loading" [routerLink]="['/apps/contracts']">
    <clr-icon shape="home"></clr-icon>
    กลับหน้าหลัก
  </button>
</div>

<cm-loading #cmLoading></cm-loading>