
.main-container .content-container .content-area {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0px 5px 0px 5px;
    background: white;
}

.breadcrumb {
    padding: 0.5rem 0.5rem;
    list-style: none;
    background-color: #eceeef;
}

.breadcrumb::after {
    display: block;
    content: "";
    clear: both;
}

.breadcrumb-item {
    float: left;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #636c72;
    content: "/";
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: underline;
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #636c72;
}

.datagrid .datagrid-row-actions clr-icon {
    height: 14px;
    vertical-align: middle;
}

.newLine {
  background-color: #DFF0D0;
  border-top: 2px solid #318700;
  /* position:fixed; */
}

.isError {
  background-color: #FFF0EE;
}

.isSuccess {
  background-color: #DFF0D0;
}

.isWarning {
  background-color: #FFFCE8;
}

.editLine {
  border-bottom: 2px solid #E62700;
  background-color: #FFF0EE;
}
.wm-small-btn {
  min-width: 0px;margin: 0 0px 0 0;
}

.wm-overall-row {
  border-bottom: 2px solid #007CBB; 
  background-color: #E1F1F6;
}

.wm-add-row {
  border-top: 2px solid #60B515; 
  background-color: #DFF0D0;
}

.clr-vertical-nav {
    background-color: #eceeef;
}

.wm-edit-box-number {
    width: 100%;
    text-align: right;
}

.wm-select-noline {
    border-bottom: 0
}

.badge.badge-white, .badge.badge-5 {
    background: white;
    color: #000;
}

.error-message {
    color: #F52F22;
    font-weight: bold;
}

.success-message {
    color: #85C81A;
}
.info-message {
    color: rgb(0, 140, 196);
}

.success-status {
    background-color: rgb(238, 234, 9);
}
.approve-status {
    background-color: #DFF0D0;
}
.cancel-status {
    background-color: #F5DBD9;
}

.main-container:not([class*="open-overflow-menu"]):not([class*="open-hamburger-menu"]) .clr-vertical-nav.is-collapsed {
    border-right-style: solid;
    border-right-color: #ddd;
}

wm-loading-modal .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    opacity: .85;
    z-index: 1040;
}
.wid99{
    width: 99%;
}

.datagrid {
    margin-top: 0;
}

.datagrid .datagrid-row-actions clr-icon {
    height: 14px;
    vertical-align: middle;
}

.grid-order .datagrid .datagrid-cell {
    padding: 5px 10px 5px 10px;
    line-height: 25px;
}
